Knowledge/TradeX-MCP/notification-main/src/main/resources/wsdl/OneSms.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://1sms.vn/" xmlns:s1="http://1sms.vn/AbstractTypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://1sms.vn/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://1sms.vn/">
            <s:element name="SendMT">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="sms" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="senderName" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="isFlash" type="s:boolean"/>
                        <s:element minOccurs="1" maxOccurs="1" name="isUnicode" type="s:boolean"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SendMTResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="SendMTResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="SendMTSoapIn">
        <wsdl:part name="parameters" element="tns:SendMT"/>
    </wsdl:message>
    <wsdl:message name="SendMTSoapOut">
        <wsdl:part name="parameters" element="tns:SendMTResponse"/>
    </wsdl:message>
    <wsdl:portType name="ServiceSoap">
        <wsdl:operation name="SendMT">
            <wsdl:input message="tns:SendMTSoapIn"/>
            <wsdl:output message="tns:SendMTSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SendMT">
            <soap:operation soapAction="http://1sms.vn/SendMT" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SendMT">
            <soap12:operation soapAction="http://1sms.vn/SendMT" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
